[Desktop Entry]
Name=Onion Circuits
Comment=Display Tor circuits and streams
TryExec=onioncircuits
Exec=onioncircuits
StartupNotify=true
Terminal=false
Type=Application
Icon=onioncircuits
Categories=GTK;Network;
